<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
</head>
<body>
    <h1>Add User</h1>
    <form action="/adduser" method="POST">
        <label for="first">First Name:</label>
        <input type="text" name="first_name" id="first" placeholder="John">
        <label for="last">Last Name:</label>
        <input type="text" name="last_name" id="last" placeholder="Smith">
        <label for="pp">Profile Picture:</label>
        <input type="text" name="profile_pic" id="pp" placeholder="img.png">
        <button>Submit</button>
    </form>
    <form action="/">
        <button>Cancel</button>
    </form>
</body>
</html>